<div class="header">
  Cabecera
</div>
<div class ="grid">
  <div class="card" align="center">
    <p class="textElement1">Hola! Ingrese sus datos para ingresar </p>
    <mat-form-field appearance="fill">
      <mat-label>Correo</mat-label>
      <input class="input" matInput placeholder="email">
      <mat-icon matPrefix>email</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input class="input" matInput placeholder="Ejem: pepe@gmail.com">
      <mat-icon matPrefix>lock</mat-icon>
    </mat-form-field>
    <br>
    <button class="button">Ingresar</button>
  </div>
  <div class="card2">
    <img class="image" src="https://cdn.discordapp.com/attachments/700237020278030396/852300117603123210/Grupo_1.png">
    <p class="textElement2">Bienvenido de nuevo</p>
    <img class ="image" align="right" src="https://cdn.discordapp.com/attachments/700237020278030396/852300111321235516/Grupo_3.png" alt="Logotipo3">
  </div>
</div>
