@media only screen and (min-width: 1117px){
/* width */
::-webkit-scrollbar {
  width: 10px;
  background: #E5E5E5;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #6AD9FC;
  border-radius: 10px;
}
.header{
  background-color: #89D3E2;
  height: 10%;
}
.up{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-left: 1%;

}
.general{
  margin-right: 2%;
  margin-left: 1%;
}
.generalInformation{
  display: grid;
  grid-template-columns: repeat(3,1fr);

}
.getInformationCarWash{
  grid-column: 2/4;
  margin-left: 5%;
  margin-right: 15%;
  display: grid;

}


.left{

}
.Staff{
  margin-left: 10%;
}
.grid div:hover{
  border: yellow;
}
.scrollStaff {
  height: 250px;
  overflow-y: scroll;
  padding-top: 0.5%;
  padding-left: 0.5%;

}
.cardstaff1{
  grid-column: 1/3;
}
.scrollDown{
  overflow-y: scroll;
  height: 200px;
}

.example-item {
  height: 50px;
}
.down{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-left: 1%;
}
.cardDown{

  border: transparent;
  border-radius: 10px;
  background-color: #EEF7FB;
  margin-right: 5%;
  box-shadow: 1px 1px 3px black;
}
.cardComment{
  border: transparent;
  border-radius: 10px;
  background-color: #EEF7FB;
  box-shadow: 1px 1px 3px black;
}

.cardServicesO{
  background-color: #EEF7FB;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-bottom: 2%;
  margin-top: 2%;
  margin-left: 2%;

}

.cardStaff{
  background-color: #EEF7FB;
  margin-bottom: 2%;
  margin-right: 2%;
  box-shadow: 1px 1px 3px black;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3,1fr);


}
.cardsService{
  grid-column: 1/3;
}
.button{
  padding-bottom: 0.0%;
}
.redirect{
  background-color: #69CEEE;
  color: #EEF7FB;
  border-color: transparent;
  font-weight: bold;

}
button{
  background-color: #69CEEE;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  color: #EEF7FB;
  border-color: transparent;
  font-weight: bold;

}
.empty{
  margin-top: 20%;
  margin-bottom: 1%;
  font-family: "Segoe UI";
  color: gray;
  font-weight: bold;
}


.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;

}

.imageCarWash{
  width:300px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px black;
}

.title{
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: x-large;
}
.btnStaffEdit{
  align-self: end;
}

.btnStaffDelete{
  background-color: #F3A5A5;

}
}
@media only screen and (max-width: 1117px){
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    background: #E5E5E5;
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6AD9FC;
    border-radius: 10px;
  }
  .header{
    background-color: #89D3E2;
    height: 10%;
  }
  .general{
    margin-right: 2%;
    margin-left: 1%;
  }
  .generalInformation{
    display: grid;
    grid-template-columns: repeat(3,1fr);

  }
  .getInformationCarWash{
    grid-column: 2/4;
    display: grid;

  }
  .scrollStaff {
    height: 350px;
    overflow-y: scroll;
    padding-top: 0.5%;
    padding-left: 0.5%;

  }
  .cardstaff1{
    grid-column: 1/3;
  }
  .scrollDown{
    overflow-y: scroll;
    height: 200px;
  }
  .Staff{
    margin-top: 2%;
  }
  .cardStaff{
    background-color: #EEF7FB;
    margin-bottom: 2%;
    margin-right: 2%;
    box-shadow: 1px 1px 3px black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);


  }
  .example-item {
    height: 50px;
  }
  .down{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 1%;
  }
  .cardDown{

    border: transparent;
    border-radius: 10px;
    background-color: #EEF7FB;
    margin-right: 5%;
    box-shadow: 1px 1px 3px black;
  }
  .cardComment{
    border: transparent;
    border-radius: 10px;
    background-color: #EEF7FB;
    box-shadow: 1px 1px 3px black;
  }

  .cardServicesO{
    background-color: #EEF7FB;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 2%;
    margin-top: 2%;

  }

  .cardsService{
    grid-column: 1/3;
  }
  .button{
    padding-bottom: 0.0%;
  }
  .redirect{
    background-color: #69CEEE;
    color: #EEF7FB;
    border-color: transparent;
    font-weight: bold;

  }
  button{
    background-color: #69CEEE;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    color: #EEF7FB;
    border-color: transparent;
    font-weight: bold;

  }
  .empty{
    margin-top: 20%;
    margin-bottom: 1%;
    font-family: "Segoe UI";
    color: gray;
    font-weight: bold;
  }


  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;

  }

  .imageCarWash{
    width:300px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
  }

  .title{
    font-family: "Segoe UI";
    font-weight: bold;
    font-size: x-large;
  }
  .btnStaffEdit{
    align-self: end;
  }

  .btnStaffDelete{
    background-color: #F3A5A5;

  }
}
@media only screen and (max-width: 990px){
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    background: #E5E5E5;
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6AD9FC;
    border-radius: 10px;
  }
  .header{
    background-color: #89D3E2;
    height: 10%;
  }
  .general{
    margin-right: 2%;
    margin-left: 1%;
  }
  .generalInformation{
    display: grid;
    grid-template-columns: repeat(3,1fr);

  }
  .getInformationCarWash{
    grid-column: 2/4;
    display: grid;
    margin-left: 5%;

  }
  .scrollStaff {
    height: 350px;
    overflow-y: scroll;
    padding-top: 0.5%;
    padding-left: 0.5%;

  }
  .cardstaff1{
  }
  .scrollDown{
    overflow-y: scroll;
    height: 200px;
  }
  .Staff{
    margin-top: 2%;
  }
  .cardStaff{
    background-color: #EEF7FB;
    margin-bottom: 2%;
    margin-right: 2%;
    box-shadow: 1px 1px 3px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);


  }
  .example-item {
    height: 50px;
  }
  .down{
    margin-left: 1%;
  }
  .cardDown{

    border: transparent;
    border-radius: 10px;
    background-color: #EEF7FB;
    margin-right: 5%;
    box-shadow: 1px 1px 3px black;
  }
  .cardComment{
    border: transparent;
    border-radius: 10px;
    background-color: #EEF7FB;
    box-shadow: 1px 1px 3px black;
  }

  .cardServicesO{
    background-color: #EEF7FB;
    margin-bottom: 2%;
    margin-top: 2%;

  }

  .redirect{
    background-color: #69CEEE;
    color: #EEF7FB;
    border-color: transparent;
    font-weight: bold;

  }
  button{
    background-color: #69CEEE;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    color: #EEF7FB;
    border-color: transparent;
    font-weight: bold;

  }
  .empty{
    margin-top: 20%;
    margin-bottom: 1%;
    font-family: "Segoe UI";
    color: gray;
    font-weight: bold;
  }


  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;

  }

  .imageCarWash{
    width:300px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
  }

  .title{
    font-family: "Segoe UI";
    font-weight: bold;
    font-size: x-large;
  }
  .btnStaffEdit{
    align-self: end;
  }

  .btnStaffDelete{
    background-color: #F3A5A5;

  }
}

