
@media only screen and (min-width: 1056px){
/* width */
  ::-webkit-scrollbar {
    width: 10px;
    background: #E5E5E5;
    border-radius: 10px;
  }
/* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6AD9FC;
    border-radius: 10px;
  }

  .Left{
  display: grid;
  margin-left: 1%;

  }
  .CarWash{

  }
  .Staff{
  }
  .qualificationByCustomer{
    display: flex;
  }
  .titleComment{
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 15px;
  }
  .totalComments{
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 12px;
  }
  .star1{
    color: #FFD500;
    font-size: 20px;
  }
  .star2{
    color: #FFD500;
    font-size: 15px;
  }
  .star3{
    color: grey;
    font-size: 15px;
  }
  .names{
    font-family: "Segoe UI";
    font-size: 13px;
    font-weight: bold;
  }
  .general{
    margin-right: 2%;
    margin-left: 1%;
    margin-top: 1%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .generalInformation{
    display: grid;

  }
  .contentComment{
    margin-top: 2%;
    margin-left: 2%;
  }
  .getInformationCarWash{
    grid-column: 2/4;
    margin-left: 5%;
    margin-right: 2%;
    display: grid;
  }


  .grid div:hover{
    border: yellow;
  }
  .scrollStaff {
    height: 149px;
    overflow-y: scroll;
    padding-top: 0.5%;
    padding-left: 0.5%;

  }
  .scrollActiveService {
    height: 220px;
    overflow-y: scroll;
    padding-top: 0.5%;
    padding-left: 0.5%;

  }
  .cardstaff1{
    grid-column: 1/3;
  }
  .scrollDown{
    overflow-y: scroll;
    height: 149px;
  }
  .example-item {
    height: 50px;
  }
  .Right{
    margin-left: 10%;

  }
  .subDown{
    margin-left: 1%;
  }
  .cardDown{

    border: transparent;
    border-radius: 10px;
    background-color: #EEF7FB;
    margin-right: 5%;
    box-shadow: 1px 1px 3px black;
  }
  .cardComment{
    border: transparent;
    border-radius: 10px;
    background-color: #EEF7FB;
    box-shadow: 1px 1px 3px black;
  }

  .cardServicesO{
    background-color: #EEF7FB;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 2%;

  }
  .cardstaff2{
    justify-self: end;
  }
  .cardAvailableService{
    justify-self: end;
    grid-column: 1/4;
  }

  .cardStaff{
    background-color: #EEF7FB;
    margin-bottom: 2%;
    margin-right: 2%;
    box-shadow: 1px 1px 3px black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  .cardsService{
    grid-column: 1/4;
  }

  .redirect{
    background-color: #69CEEE;
    color: #EEF7FB;
    border-color: transparent;
    font-weight: bold;

  }
  button{
    background-color: #69CEEE;
    border-radius: 10px;
    color: #EEF7FB;
    border-color: transparent;
    font-weight: bold;

  }
  .empty{
    font-family: "Segoe UI";
    color: gray;
    font-weight: bold;
  }


  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;

  }

  .imageCarWash{
    width:300px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
  }

  .title{
    font-family: "Segoe UI";
    font-size: medium;
    color: #707070;
    font-weight: bold;
  }
  .titleDown{
    font-family: "Segoe UI";
    font-size: medium;
    color: #707070;
    font-weight: bold;
  }
  .btnStaffEdit{
    align-self: end;
  }

  .btnStaffDelete{
   background-color: #F3A5A5;
  }
  .activeServices{
    width: 105%;
    margin-top: 6%;
  }
  .availableServices{
    margin-top: 2%;
    width: 105%;
  }
  .Comments{

  }

}
@media only screen and (max-width: 1056px){
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    background: #E5E5E5;
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6AD9FC;
    border-radius: 10px;
  }

  .Left{
    margin-left: 1%;

  }
  .CarWash{

  }
  .Staff{
    margin-top: 5%;
  }
  .qualificationByCustomer{
    display: flex;
  }
  .titleComment{
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 15px;
  }
  .totalComments{
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 12px;
  }
  .star1{
    color: #FFD500;
    font-size: 20px;
  }
  .star2{
    color: #FFD500;
    font-size: 15px;
  }
  .star3{
    color: grey;
    font-size: 15px;
  }
  .names{
    font-family: "Segoe UI";
    font-size: 13px;
    font-weight: bold;
  }
  .contentComment{
    margin-top: 2%;
    margin-left: 2%;
  }
  .general{
    margin-right: 2%;
    margin-left: 1%;
    margin-top: 1%;

  }
  .generalInformation{
    display: grid;

  }
  .getInformationCarWash{
    grid-column: 2/4;
    margin-left: 5%;
    margin-right: 2%;
    display: grid;

  }


  .grid div:hover{
    border: yellow;
  }
  .scrollStaff {
    height: 225px;
    overflow-y: scroll;
    padding-top: 0.5%;
    padding-left: 0.5%;

  }
  .scrollActiveService {
    height: 220px;
    overflow-y: scroll;
    padding-top: 0.5%;
    padding-left: 0.5%;

  }
  .cardstaff1{
    grid-column: 1/3;
  }
  .scrollDown{
    overflow-y: scroll;
    height: 149px;
  }
  .example-item {
    height: 50px;
  }
  .Right{

  }
  .subDown{
    margin-left: 1%;
  }
  .cardDown{

    border: transparent;
    border-radius: 10px;
    background-color: #EEF7FB;
    margin-right: 5%;
    box-shadow: 1px 1px 3px black;
  }
  .cardComment{
    border: transparent;
    border-radius: 10px;
    background-color: #EEF7FB;
    box-shadow: 1px 1px 3px black;
  }

  .cardServicesO{
    background-color: #EEF7FB;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 2%;

  }

  .cardStaff{
    background-color: #EEF7FB;
    margin-bottom: 2%;
    margin-right: 2%;
    box-shadow: 1px 1px 3px black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  .cardsService{
    grid-column: 1/3;
  }
  .button{
    padding-bottom: 0.0%;
  }
  .redirect{
    background-color: #69CEEE;
    color: #EEF7FB;
    border-color: transparent;
    font-weight: bold;

  }
  button{
    background-color: #69CEEE;
    border-radius: 10px;
    color: #EEF7FB;
    border-color: transparent;
    font-weight: bold;

  }
  .empty{
    font-family: "Segoe UI";
    color: gray;
    font-weight: bold;
  }


  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;

  }

  .imageCarWash{
    width:300px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
  }

  .title{
    font-family: "Segoe UI";
    font-size: medium;
    color: #707070;
    font-weight: bold;
  }
  .titleDown{
    font-family: "Segoe UI";
    font-size: medium;
    color: #707070;
    font-weight: bold;
  }
  .btnStaffEdit{
    align-self: end;
  }

  .btnStaffDelete{
    background-color: #F3A5A5;
  }
  .activeServices{
    width: 105%;
    margin-top: 5%;
  }
  .availableServices{
    margin-top: 5%;
    width: 105%;
  }
  .Comments{
    margin-top: 4%;

  }

}
@media only screen and (max-width: 500px){
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    background: #E5E5E5;
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6AD9FC;
    border-radius: 10px;
  }

  .Left{
    margin-left: 1%;

  }
  .CarWash{

  }
  .Staff{
    margin-top: 5%;

  }
  .contentComment{
    margin-top: 2%;
    margin-left: 2%;
  }
  .qualificationByCustomer{
    display: flex;
  }
  .titleComment{
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 15px;
  }
  .totalComments{
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 12px;
  }
  .star1{
    color: #FFD500;
    font-size: 20px;
  }
  .star2{
    color: #FFD500;
    font-size: 15px;
  }
  .star3{
    color: grey;
    font-size: 15px;
  }
  .names{
    font-family: "Segoe UI";
    font-size: 13px;
    font-weight: bold;
  }
  .general{
    margin-right: 2%;
    margin-left: 1%;
    margin-top: 1%;

  }

  .grid div:hover{
    border: yellow;
  }
  .scrollStaff {
    height: 225px;
    overflow-y: scroll;
    padding-top: 0.5%;
    padding-left: 0.5%;

  }
  .scrollActiveService {
    height: 220px;
    overflow-y: scroll;
    padding-top: 0.5%;
    padding-left: 0.5%;

  }
  .cardstaff1{
    grid-column: 1/3;
  }
  .scrollDown{
    overflow-y: scroll;
    height: 149px;
  }
  .example-item {
    height: 50px;
  }
  .Right{

  }
  .subDown{
    margin-left: 1%;
  }
  .cardDown{

    border: transparent;
    border-radius: 10px;
    background-color: #EEF7FB;
    margin-right: 5%;
    box-shadow: 1px 1px 3px black;
  }
  .cardComment{
    border: transparent;
    border-radius: 10px;
    background-color: #EEF7FB;
    box-shadow: 1px 1px 3px black;
  }

  .cardServicesO{
    background-color: #EEF7FB;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 2%;

  }

  .cardStaff{
    background-color: #EEF7FB;
    margin-bottom: 2%;
    margin-right: 2%;
    box-shadow: 1px 1px 3px black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  .cardsService{
    grid-column: 1/3;
  }
  .button{
    padding-bottom: 0.0%;
  }
  .redirect{
    background-color: #69CEEE;
    color: #EEF7FB;
    border-color: transparent;
    font-weight: bold;

  }
  button{
    background-color: #69CEEE;
    border-radius: 10px;
    color: #EEF7FB;
    border-color: transparent;
    font-weight: bold;

  }
  .empty{
    font-family: "Segoe UI";
    color: gray;
    font-weight: bold;
  }


  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;

  }

  .imageCarWash{
    width:300px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
    display: none;
  }

  .title{
    font-family: "Segoe UI";
    font-size: medium;
    color: #707070;
    font-weight: bold;
  }
  .titleDown{
    font-family: "Segoe UI";
    font-size: medium;
    color: #707070;
    font-weight: bold;
  }
  .btnStaffEdit{
    align-self: end;
  }

  .btnStaffDelete{
    background-color: #F3A5A5;
  }
  .activeServices{
    width: 105%;
    margin-top: 5%;
  }
  .availableServices{
    margin-top: 5%;
    width: 105%;
  }
  .Comments{
    margin-top: 4%;

  }

}
