<br>
<div class="grid">

  <div class="element1">
    <br>
    <p class ="telement1" align="center"><b>Registra un nuevo auto</b></p>
    <form (submit)="onSubmit()" #vehicleForm="ngForm" align="center">
      <div class="group-input">
        <mat-form-field appearance="outline" class="input">
          <mat-icon matPrefix>directions_car</mat-icon>
          <mat-label>Marca</mat-label>
          <input
            matInput placeholder="Brand"
            name="brand"
            required [(ngModel)]="vehicleData.brand">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="input">
          <mat-icon matPrefix>directions_car</mat-icon>
          <mat-label>Modelo</mat-label>
          <input
            matInput placeholder="Model"
            name="model"
            required [(ngModel)]="vehicleData.model">
        </mat-form-field >
        <br>
        <mat-form-field appearance="outline" class="input">
          <mat-icon matPrefix>directions_car</mat-icon>
          <mat-label>Número de placa</mat-label>
          <input
            matInput placeholder="Registration_plate"
            name="registration_plate"
            required [(ngModel)]="vehicleData.registration_plate">
        </mat-form-field >
        <mat-form-field appearance="outline" class="input">
          <mat-icon matPrefix>location</mat-icon>
          <mat-label>Ubicación</mat-label>
          <input
            matInput placeholder="Location"
            name="Location"
            required [(ngModel)]="vehicleData.location_id">
        </mat-form-field >

      </div>

    <div>
      <button>Cancelar</button>
      <ng-container>
        <button mat-button style="text-transform: uppercase" color="primary">{{isEditMode? 'Actualizar':'Registrar'}}</button>
      </ng-container>
    </div>
    </form>
  </div>


</div>

<router-outlet></router-outlet>
