<mat-toolbar>
  <div class="container">
    <div class="left">
      <button mat-icon-button aria-label="Example icon-button with menu icon">
        <img src="https://cdn.discordapp.com/attachments/700237020278030396/852297994287054888/logo.jpg" alt="logo">
      </button>
    </div>
    <div class="middle">
      <input type="text" id="search" class="no-outline" placeholder="Buscar Carwash...">
    </div>
    <div class="right">
      <mat-icon>account_circle</mat-icon>
      <mat-icon>favorite_border</mat-icon>
    </div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
