@media only screen and (min-width: 626px) {
  .grid {
    width: 50%;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    margin: 0 auto;


  }
.text1{
  color: #707070;
  font-family: "Segoe UI";
  font-size: x-large;
}
  .element1 {

  }

  .telement1 {
    color: #707070;
  }

  .input {
    width: 92%;
  }
  .input2{
    width: 45%;
  }
  .details{
    margin-left: 6%;
  }
  .group-input {
    justify-content: center;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
}
@media only screen and (max-width: 626px) {
  .grid {
    width: 70%;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    margin: 0 auto;
  }
  .text1{
    color: #707070;
    font-family: "Segoe UI";
    font-size: x-large;
  }

  .telement1 {
    color: #707070;
  }

  .input {
    width: 92%;
  }
  .input2{
    width: 92%;
  }
  .details{
    margin-left: 6%;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .radbtn{

  }
}
@media only screen and (max-width: 422px) {
  .grid {
    width: 90%;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    margin: 0 auto;
  }
  .text1{
    color: #707070;
    font-family: "Segoe UI";
    font-size: x-large;
  }

  .telement1 {
    color: #707070;
  }

  .input {
    width: 92%;
  }
  .input2{
    width: 92%;
  }
  .details{
    margin-left: 6%;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

}

button {
  grid-area: button;
  margin-bottom: 5%;
  background-color: #69CEEE;
  border-radius: 10px;
  font-weight: bold;
  color: #EEF7FB;
  font-family: "Segoe UI";

}
button:hover{
  box-shadow: 2px 2px 5px black;
}
